<html>
    
    <head>
        <title>
            <%= title %>
        </title>
        <style type="text/css">
            ol {
            	margin:0;padding:0
            }

            .c19 {
            	max-width:468pt;
            	background-color:#ffffff;
            	padding:0 0 50 50;
           	}

           	.c5 {
           		list-style-type:disc;
           		margin:0;
           		padding:0
           	}

           	.c16 {
           		color:#1155cc;
           		font-size:10pt;
           		text-decoration:underline
           	}

           	.c15 {
           		list-style-type:circle;
           		margin:0;
           		padding:0
           	}

           	.c17 {
           		color:#1155cc;
           		text-decoration:underline
           	}

           	.c2{font-size:12pt;text-decoration:underline}

           	.c6{color:inherit;text-decoration:inherit}

           	.c3{padding-left:0pt;margin-left:36pt}

           	.c11{padding-left:0pt;margin-left:51pt}

           	.c12{font-size:17pt}

           	.c0{font-family:"Times New Roman"}

           	.c10{font-size:14pt}

           	.c7{font-style:italic}

           	.c8{font-weight:bold}

           	.c18{font-size:10pt}

           	.c9{font-size:12pt}

           	.c4{height:11pt}

           	.c13{text-align:right}

           	.c14{font-size:18pt}

           	.c1{direction:ltr}

           	.title{padding-top:24pt;line-height:1.15;text-align:left;color:#000000;font-size:36pt;font-family:"Arial";font-weight:bold;padding-bottom:6pt}

           	.subtitle{padding-top:18pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:24pt;font-family:"Georgia";padding-bottom:4pt}

           	li{color:#000000;font-size:11pt;font-family:"Arial"}

           	p{color:#000000;font-size:11pt;margin:0;font-family:"Arial"}

           	h1{padding-top:24pt;line-height:1.15;text-align:left;color:#000000;font-size:18pt;font-family:"Arial";font-weight:bold;padding-bottom:6pt}

           	h2{padding-top:18pt;line-height:1.15;text-align:left;color:#000000;font-size:14pt;font-family:"Arial";font-weight:bold;padding-bottom:4pt}

           	h3{padding-top:14pt;line-height:1.15;text-align:left;color:#666666;font-size:12pt;font-family:"Arial";font-weight:bold;padding-bottom:4pt}

           	h4{padding-top:12pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:11pt;font-family:"Arial";padding-bottom:2pt}

           	h5{padding-top:11pt;line-height:1.15;text-align:left;color:#666666;font-size:10pt;font-family:"Arial";font-weight:bold;padding-bottom:2pt}

           	h6{padding-top:10pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:10pt;font-family:"Arial";padding-bottom:2pt}

            body {}

            hr {
            	font-size:1pt;line-height:1pt;color:white;margin-bottom:.25in;
            }
        </style>

				<style>
					#nav {
						padding-bottom: 15px;
						text-align: right;
						width: 619px;
					}
					#nav a {
						padding: 10px;
					}
					.file_format {
						width: 30px;
						height: 30px;
					}
                    @media print { 
                        .noprint { 
                            display:none; 
                        } 
                    }
				</style>

        <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" >
		<link rel="openid2.local_id" href="http://www.google.com/profiles/tacoman667" >

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '<%= analyticsKey %>']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    
    <body class="c19">
	    	<center>
					<div id="nav" class="noprint">
						<a href="/rtf"><image class="file_format" src="/images/rtf_image.png" alt="RTF Format" /></a>
						<a href="/pdf"><image class="file_format" src="/images/pdf.png" alt="PDF Format" /></a>
					</div>
				</center>

        <p class="c1">
            <span class="c0 c8 c14">
                JEREMY
            </span>
            <span class="c0 c8 c14">
                HARDIN
            </span>
        </p>
        <hr>
        <p class="c1 c13">
            <span class="c0 c16">
                <a class="c6" href="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Kingwood,+TX+77339&amp;aq=&amp;sll=31.168934,-100.076842&amp;sspn=17.031535,23.708496&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=Kingwood,+Texas+77339&amp;t=m&amp;z=13&amp;iwloc=A">Kingwood, TX 77339 - USA</a>
            </span>
            <span class="c0 c18">
                &nbsp;
            </span>
        </p>
        <p class="c13 c1">
            <span class="c16 c0">
                <a class="c6" href="mailto:jeremy@codingzen.net">jeremy@codingzen.net</a>
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c0 c10 c8">
                Objective
            </span>
        </p>
        <hr>
        <p class="c1">
            <span class="c0">
                Software Developer - Seeking a position designing and developing software
                where my skills, passion, and education can be fully utilized.
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c0 c8 c10">
                Skills
            </span>
        </p>
        <hr>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Microsoft Visual Studio
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    SQL Server
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    C#
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    ASP.NET
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    ASP.NET MVC
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Windows Presentation Foundation (WPF)
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Windows Communication Foundation (WCF)
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Windows Workflow Foundation (WF)
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Silverlight
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    C++
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    JavaScript
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    JQuery
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    JSON
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    XML
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Python
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Ruby with Ruby on Rails.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c1 c3">
                <span class="c0">
                    Objective-C
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    iOS
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Java
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Android SDK
                </span>
            </li>
        </ol>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c0 c10 c8">
                WORK
            </span>
            <span class="c0 c10 c8">
                EXPERIENCE
            </span>
            <hr>
        </p>
        <p class="c1">
            <span class="c2 c0">
                Fellowship of the Woodlands Church (Contract)
            </span>
            <span class="c0">
                , The Woodlands, TX
            </span>
        </p>
        <p class="c1">
            <span class="c0 c8">
                9/2012 - Present
            </span>
        </p>
        <p class="c0 c7">
            <span>
                Ruby on Rails Developer
            </span>
        </p>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Web application development for internet facing websites.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Worked with RoR, ActiveRecord, Thin, and other gems.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Hosted sites on Heroku.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Utilized Postgres as database.
                </span>
            </li>
        </ol>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c2 c0">
                Insperity (Formerly Administaff)
            </span>
            <span class="c0">
                , Kingwood, TX
            </span>
        </p>
        <p class="c1">
            <span class="c0 c8">
                11/2010 - 7/2012
            </span>
        </p>
        <p class="c1">
            <span class="c0 c7">
                Business Applications Developer
            </span>
        </p>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Web application development for internet facing interfaces.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Used Entity Framework to connect to SQL Server 2008 R2.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Utilized Mvc 2.0 and 3.0 frameworks.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Used extensive Jquery for Ajax calls using web services on the server-side.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Developed a small wizard interface within a web page for creating accounts
                    in order to access other applications using Mvc, Jquery, and Ajax.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Assisted in creating an Online Forms Engine.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Dynamically generated, compiled, and executed code in the run-time.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Used MSTest for automated unit testing as well as some Test Driven Development.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Worked in a Scrum team creating stories and tasks as well as completing
                    sprints and release cycles.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Used Workflow Foundation in order to allow users to build workflows for
                    online documents management.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Used Windows Presentation Foundation to build a host for the Workflow
                    Designer for users to design their own workflows.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Implemented MVVM pattern within WPF for the Workflow Designer host application.
                </span>
            </li>
        </ol>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c2 c0">
                WowWe Media
            </span>
            <span class="c0">
                , The Woodlands, TX
            </span>
        </p>
        <p class="c1">
            <span class="c0 c8">
                7/2010 - 11/2010
            </span>
        </p>
        <p class="c1">
            <span class="c0 c7">
                Sr. Software Developer
            </span>
        </p>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Worked in HTML, Javascript, C#, WebForms, Jquery
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Converted Webforms to MVP design pattern for organization and testability
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Written many unit/automated tests using NUnit and MSTest
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Worked with ffmpeg on video encoding and taking the result strings, parsed
                    them, and extracted the data relevant for storage in the database
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Work with Sql Server 2008 for application data
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Use of MongoDB for storing report data
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Built sales commissions extrapolation process for paying salesman commissions
                    and for historical reporting.
                </span>
            </li>
        </ol>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c2 c0">
                Continental Airlines
            </span>
            <span class="c0">
                , Houston, TX
            </span>
        </p>
        <p class="c1">
            <span class="c0 c8">
                6/2007 - 6/2010
            </span>
        </p>
        <p class="c1">
            <span class="c0 c7">
                Sr. IT Specialist
            </span>
        </p>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Web Applications Programmer
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Project leader on a Timecard application for Payroll Department.
                </span>
            </li>
        </ol>
        <ol class="c15" start="1">
            <li class="c1 c11">
                <span class="c0">
                    C#, ASP.NET 2.0, AJAX, Javascript, JSON
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Utilized SQL Server 2005, Stored Procedures, Functions, and database table
                    design.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Utilized State, Factory and other Gang of Four (GoF) design patterns.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Enterprise programming experience.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Project Manager and Senior Developer for the Change Management System
                    used throughout the entire technology division as well as a means for users
                    to log change requests.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Setup of TFS system for Financial Systems Group solution. Moving from
                    Visual Source Safe to TFS.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Developed an n-Tier Silverlight 3.0 Line-of-Business application for Change
                    Management System using .NET WCF RIA Services and .NET 3.5.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Developed an MVC web application utilizing the same business and data
                    access layers as the Silverlight application.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Some work with hitting data stored in Oracle database with ADO.NET
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Use of Windows Communication Foundation in lieu of basic web services
                    for developing AJAX functionality
                </span>
            </li>
        </ol>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c2 c0">
                Customer Velocity
            </span>
            <span class="c0">
                , The Woodlands, TX
            </span>
        </p>
        <p class="c1">
            <span class="c0 c8">
                5/2006 - 6/2007
            </span>
        </p>
        <p class="c1">
            <span class="c0 c7">
                Web Applications Programmer I
            </span>
        </p>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Programmed web applications for home builders. Ex. Kimball Hill Homes,
                    Smith Family Homes, David Weekley Homes.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Use of Visual Basic .NET 1.1 and 2.0 for Administration tools for adding
                    and modifying content within these websites
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    SQL Server 2000 and 2005 database for home builder applications writing
                    queries with some database design
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Visual C# 2.0 used in new development of web and Windows applications
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Used ASP, ASP.NET 1.1, and ASP.NET 2.0 for current and new website development
                </span>
            </li>
        </ol>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c2 c0">
                Enginuity Engineering, Inc
            </span>
            <span class="c0">
                , Houston, TX
            </span>
        </p>
        <p class="c1">
            <span class="c0 c8">
                2/2005 - 2/2006
            </span>
        </p>
        <p class="c1">
            <span class="c0 c7">
                Software Development Engineer
            </span>
        </p>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Development of proprietary applications used in-house at the company.
                    Development of smaller tools and larger applications.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Programming includes Visual Basic 6, Visual Basic .NET, .NET Framework
                    2.0, Some SQL Server Programming using the new Visual Studio 2005 software
                    suite.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    Attended the Microsoft DevConnections Conference 9/2005 on the new Visual
                    Studio 2005 Suite of tools.
                </span>
            </li>
        </ol>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    The only developer at the company, working unsupervised. Created an application
                    that brought in new revenue for the company.
                </span>
            </li>
        </ol>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c2 c0">
                US Army
            </span>
            <span class="c0">
                , Ft Lewis, WA and Ft Hood, TX
            </span>
        </p>
        <p class="c1">
            <span class="c0 c8">
                4/1998 - 4/2002
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c0 c10 c8">
                FIELD
            </span>
            <span class="c0 c10 c8">
                WORK
            </span>
        </p>
        <hr>
        <p class="c1">
            <span class="c0">
                I created a website for a local consulting firm using the new .NET MVC
                framework and Linq To Sql ORM. The design was graciously provided for me
                but the application development was completed solely by me.
            </span>
        </p>
        <ol class="c5" start="1">
            <li class="c3 c1">
                <span class="c0">
                    This site is no longer supported by me but was excellent educational experience.
                </span>
            </li>
        </ol>
        <p class="c4 c1">
            <span class="c0">
            </span>
        </p>
        <p class="c1">
            <span class="c0">
                I have some code on my github account at https://github.com/tacoman667.
                I hope to contribute to some open source software in the very near future
                once I have the time.
            </span>
        </p>
        <p class="c1 c4">
            <span class="c0">
            </span>
        </p>
        <p class="c1">
            <span class="c0">
                I have an application in the Google Play marketplace named
            </span>
            <span class="c0 c17">
                <a class="c6" href="https://play.google.com/store/apps/details?id=com.codingzen.Shuuush&amp;hl=en.%3Cbr%3E">Shuuush!</a>
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c0 c10 c8">
                CERTIFICATIONS
            </span>
        </p>
        <hr>
        <p class="c1">
            <span class="c0">
                Certified Scrum Developer - ScrumAlliance.org
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c0 c10 c8">
                EDUCATION
            </span>
        </p>
        <hr>
        <p class="c1">
            <span class="c0 c2">
                Kingwood College
            </span>
            <span class="c0">
                , Kingwood, TX, 1/2004 - 5/2006
            </span>
        </p>
        <p class="c1">
            <span class="c0 c7">
                AAS Computer Programming in Computer Programming
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c4 c1">
            <span>
            </span>
        </p>
        <p class="c1">
            <span class="c0 c10 c8">
                KEYWORDS
            </span>
        </p>
        <hr>
        <p class="c1">
            <span class="c0">
                .NET, ASP.NET, WPF, WCF, WF, AJAX, Concurrent, Concurrency, RIA, Ruby,
                Rails, Python, IronPython, IronRuby, Silverlight, JQuery, Javascript, iOS,
                Android, MonoTouch, MonoDroid, Automocking, Unit Tests, Automated Testing,
                Design Patterns, Java, Agile, Scrum, XP
            </span>
        </p>
    </body>

</html>